<div class="container-fluid">

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            <i class="fa fa-clone" aria-hidden="true"></i>
            Menu
          </h3>
        </div>
        <div class="panel-body">
          <a name="contacts" id="contacts" class="btn btn-primary btn-block" routerLink="/contacts" routerLinkActive="active" role="button">Contacts</a>
          <br>
          <a name="groups" id="groups" class="btn btn-primary btn-block" routerLink="/groups" routerLinkActive="active" role="button">Groups</a>
          <br>
          <a name="clocks" id="clocks" class="btn btn-primary btn-block" routerLink="/clocks" role="button">Clocks</a>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
